# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js build output
/.next/
/out/

# production build
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables (ignore secrets, allow example template)
/.env*
!.env.example

# vercel deployment
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase (if you use supabase CLI locally)
/supabase/.temp
.supabase

# misc / OS files
.DS_Store
Thumbs.db
*.pem

# editors / IDEs
.idea/
.vscode/
*.swp
*.swo
